.topics{
    display: block;
    width: 90%;
    height: max-content;
    background-color: rgb(33, 33, 33);
    border: solid 2px yellowgreen;
    padding-top: 30px;
    margin: 0 auto;
    border-radius: 10px;
}

.topic{
    display: block;
    color: black;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 90%;
    width: max-content;
    background-color: yellowgreen;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.6s;
}

.topic:hover{
    transform: scale(1.1);
    background-color: white;
    transition: all 0.6s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}